<!DOCTYPE html>
<html>
<head>
  <title>Vertical Wizard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .circle {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body>
    <div class="container ">
        <div class="row flex-md-column">
            <div class="col-12 col-md-2 text-center mb-2">
                <div class="border circle">
                   1
                </div>
            </div>
            <div class="col-12 col-md-10">
                <div class="row gx-3 ml-2">
                    <div class=" mr-2 ml-3 d-none d-md-block" style="width: 8px; border-radius:0.2rem;  background-color: red;">
                    </div>
                    <div class="col-12 col-md-11 border rounded p-3">
                        <div class="h4 font-weight-bold">
                            Title Here
                        </div>
                        <div class="p-3">
                            <label for="">Description:</label>
                        </div>
                        <div class="p-3">
                            <label for="">Price:</label>
                        </div>
                        <div class="p-3">
                            <label for="">Period:</label>
                            Days
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  </div>
</body>
</html>
